@import "/CSS/general/mixims.scss";

.contact-container {
    @include smallerWrapper;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .contact-wrapper {
        display: flex;
        flex-direction: row;
    }
}


.contact-left {
    display: flex;

    .contact-left-poc-text {
        align-self: center;
        padding-left: 23px;

        p {
            font-size: map-get($map: $fontSize, $key: size30);
            font-family: "Arial";

            &:nth-child(3) {
                font-weight: 700;
            }
        }
    }
}


.phone,
.email,
.address {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.7rem;

}

.contact-bottom {
    p {
        font-size: 23px;
    }
}



.contact-right-wrapper {
    padding-left: 50px;
    width: 100%
}

.email {
    a {
        color: #000;
    }
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-label {
    padding-left: 30px;
    padding: 0 35px;
    background-color: map-get($map: $colors, $key: 3);
    border: 1px solid #333;
    display: block;
    width: 150px;
    color: map-get($map: $colors, $key: white);
    margin: 5px 0;
    border-radius: 23px;
}

.form-input {
    background: #DEDEDE 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #000000CF;
    border: 1px solid #707070;
    border-radius: 23px;
    line-height: 46px;
    width: 100%;
}

.btn-submit {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: map-get($map: $colors, $key: red);
    color: map-get($map: $colors, $key: white);
    margin: 20px 0;
    align-self: flex-end;
}